*{
    margin: 0;
    padding: O;   
}
img{
    width: 450px;
    height: 50vh;
    padding: 20px;
    margin: 50px auto;
    display: flex;
}
.title{
    margin: 50px auto;
    text-align: center;
    transform: rotate(20deg);
}
.red{
    background-color: red;
    width: 100px;
}
video{
    margin: 100px auto;
    margin-left: 300px;
}